<style>
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: fixed;
  right: 180px;
  overflow: hidden;
  margin: 10px;
  min-width: 370px;
  max-width: 370px;
  width: 100%;
  color: black;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #F0F1F2;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #F0F1F2;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid black;
  color: black;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: black;
  color: black;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: black;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

</style>
<figure class="snip1336">
    <img src="../../static/images/timg.jpg" alt="sample87" />
    <figcaption>
      <img src="{{ url_for('main.get_avatar', filename=current_user.avatar_m) }}" style="height: 80px; width: 80px;" class="profile" />
      <h1>{{current_user.username}}</h1>
      {% if current_user.bio %}
      <p style="font-size: large">{{ current_user.bio }}</p>
      {%else%}
        <p style="font-size: large">写几句话向大家介绍自己吧~</p>
       {% endif %}
        <br><br>
      <a href="{{ url_for('user.index', username=current_user.username) }}" class="follow">个人主页</a>
      <a href="{{ url_for('user.edit_profile', username=current_user.username) }}" class="info">编辑资料</a>
    </figcaption>
</figure>

