{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block title %}{{ photo.author.name }}'s Photo{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="photo">
                <a href="{{ url_for('.get_image', filename=photo.filename) }}" target="_blank">
                    <img class="img-fluid" src="{{ url_for('.get_image', filename=photo.filename_m) }}">
                </a>
            </div>
            <a class="btn btn-primary btn-sm text-white" data-toggle="modal" data-target="#share-modal">Share</a>
            {% if current_user == photo.author or current_user.can('MODERATE') %}
                <a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target="#confirm-delete"
                   data-href="#">Delete</a>
            {% endif %}
            {% if current_user.is_authenticated and current_user != photo.author %}
                <form class="inline" method="post" action="#">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-link btn-sm">Report</button>
                </form>
            {% endif %}
            <p class="text-muted float-right small">
                <span class="oi oi-clock"></span> Upload at {{ moment(photo.timestamp).format('LL') }}
            </p>
{% include 'main/_comment.html' %}
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}
