html,body{
    width: 100%;
    height: 100%;
}
.bg{
    background-size: 100%,100%;
    width: 100%;
	height: 100%;
}

.navbar
{
    height: 76px;
}
.navbar-nav>li>a 
{
    font-size: 180%;
    line-height: 180%;
}
.navbar-brand>img
{
    block-size: inherit;
}
.navbar-toggle
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-collapse 
{
    position: relative;
    padding-left: inherit;
}
.starter-template{
    padding: 40px 15px;
    text-align: left;
}